*{
  margin: 0;
  padding: 0;
}

nav{
  margin: auto;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
}

nav ul{
  background: #707070;
  padding: 0 20px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
}

nav ul li{
  float: right;
}

nav ul li:hover{
  background: #E24B4B;
}

nav ul li:hover a{
  color: #000;
}

nav ul li a{
  display: block;
  padding: 25px;
  color: #FFFFFF;
  text-decoration: none;
}
