ul.topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}
ul.topnav li a{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px
  text-decoration:none;
  transition: 0.5s;
  font-size: 16px;
}

ul.topnav li a:hover{
  background-color: #111;
}
ul.topnav li.icon{
  display: none;
}
@@media screen and(max-width:680px) {
  ul.topnav li:not(:first-child){display: no}

}
