header{
	background-color: #16a085;
	color: white;
	height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1px 0px;
}

header img{
	height: 48px;
	width: auto;
	display: inline-block;
	padding: 5px 5px;
}

header nav{
	float: right;
}

nav ul{
	margin: 10px 0px;
}

ul li{
	display: inline-block;
	padding: 15px;
	margin-left: 10px;
	weight: 4px;
}

.nav li a{
	text-decoration: none;
	color: black;
	size: 16pt;
	weight: 4px;
	font-family: Helvetica;
	font-weight: bold;
	padding-right: 10px;
}

body{
	left: 5px;
	top: 50px;
  background-image: url(images/underc.png);
	background-repeat: no-repeat;
	background-size: contain;

}

.container img{

}

#footer{
  height: 30px;
  line-height: 30px;
  background: #16a085;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica;

	left: 0;
}
