*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(img/sample-pattern.png);
}

#logo nav header{
  height: auto;
  margin: 2px;
  padding: 0;
  border: 0;
  display: block;
}

nav ul a{
    color: blue;
    text-decoration: none;
    text-align: right;
    overflow: auto;
}

.menu nav{
  height: 30px;
  text-align: right;
  background-color: #ffffff;
  margin: 0;
  padding:0;
  list-style: none;

}
